
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#__next, .container-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Layout components */
header {
  background-color: #007bff; /* Matches bg-primary */
  color: white;
  padding: 1rem;
  text-align: center;
}

main {
  flex: 1; /* Fills available space to keep footer at the bottom */
  padding: 2rem;
}

footer {
  background-color: #343a40; /* Matches bg-dark */
  color: white;
  padding: 1rem;
  text-align: center;
}
